[submodule "lab1/googletest"]
	path = lab1/googletest
	url = https://github.com/google/googletest
[submodule "lab2/googletest"]
	path = lab2/googletest
	url = https://github.com/google/googletest
[submodule "lab3/googletest"]
	path = lab3/googletest
	url = https://github.com/google/googletest
[submodule "lab6/googletest"]
	path = lab6/googletest
	url = https://github.com/google/googletest
[submodule "lab5/googletest"]
	path = lab5/googletest
	url = https://github.com/google/googletest
